<section class="leads-section">
  <div class="leads-section__table">
    <div class="leads-table__header">
      <h1>LEADS</h1>
      <div class="leads-table__btn-actions">
        <button mat-button class="leads_table__button-download">
          <span class="leads-table__button-label">Descargar</span>
          <mat-icon>download</mat-icon>
        </button>
        <button
          mat-button
          class="leads_table__button-download"
          (click)="openFilter()"
        >
          <span class="leads-table__button-label">Filtrar</span>
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
    <app-leads-table [leadsData]="leadsData"></app-leads-table>
  </div>
</section>
